.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
   

    ul {
        display: flex;

        li {
            margin-top: 65px;
            margin-right: 60px;
        }

    }

    h1 {
        text-align: left;
        font-size: 35px;
        margin-top: 57px;
        margin-left: 100px;

        &::before,
        &::after {
            content: " - ";
            color: blue;

        }
    }
}