.notificacoes {
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 100vw;
    overflow: hidden;



    .imagem {

        width: 55vw;

        img {
            margin-left: -100px;
            width: 130%;
            height: 100%;
        }

    }

    .notificacao {


        margin-right: 150px;
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    h1 {
        text-align: left;
        margin-top: 2rem;
        font-weight: 700;
        font-size: 64px;
    }

    h3 {
        text-align: left;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 3.6rem;
    }

    .btn-ativar {
        margin-top: 2rem;
        font-weight: 400;
        font-size: 24px;
        padding: 22px;
        font-weight: 600;
        border: 1px solid #000;
        align-self: start;
        background-color: #fff;
        color: #0074FF;

        &:hover {
            background-color: #0074FF;
            color: #fff;
            border: 0px solid #000;

        }

        &:active {

            -webkit-box-shadow: inset 1px 1px 5px 1px #000000;
            box-shadow: inset 1px 1px 5px 1px #000000;
        }
    }
}